In [37]:
#importing library
import pandas as pd
import numpy as np

In [38]:
#creating a series
list1 = [5.4,6.1,1.7,99.8]
arr = np.array(mylist)

In [39]:
series1 = pd.Series(data=mylist)
print(series1)
series2 = pd.Series(data=myarray)
print(series2)

0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64
0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64

In [40]:
#accessing individual entries
print(series1[2])

1.7

In [41]:
#adding labels 
labels = ['first','second','third','fourth']
series3 = pd.Series(data=list1,index=labels)
print(series3)

first      5.4
second     6.1
third      1.7
fourth    99.8
dtype: float64

In [42]:
# math on series 
series4 = pd.Series([5.5,1.1,8.8,1.6],['first','third','fourth','fifth'])
print(series4)
print('')
print(series4+series3)

first     5.5
third     1.1
fourth    8.8
fifth     1.6
dtype: float64

fifth       NaN
first      10.9
fourth    108.6
second      NaN
third       2.8
dtype: float64

In [43]:
#creating dataframe
df1 = pd.concat([series3,series4],axis=1,sort=False)
df1

           0    1
first    5.4  5.5
second   6.1  NaN
third    1.7  1.1
fourth  99.8  8.8
fifth    NaN  1.6

In [49]:
#combining dataframes using concat
df2 = pd.DataFrame({"customer":['101','102','103','104'], 
                    'category': ['car2','car2','car1','car3'],
                    'important': ['yes','no','yes','yes'],
                    'sales': [123,52,214,663]},index=[0,1,2,3])

df3 = pd.DataFrame({"customer":['101','103','104','105'], 
                    'color': ['yellow','green','green','blue'],
                    'distance': [12,9,44,21],
                    'sales': [123,214,663,331]},index=[4,5,6,7])

In [50]:
pd.concat([df2,df3],axis=0,sort=False)

  customer category important  sales   color  distance
0      101     car2       yes    123     NaN       NaN
1      102     car2        no     52     NaN       NaN
2      103     car1       yes    214     NaN       NaN
3      104     car3       yes    663     NaN       NaN
4      101      NaN       NaN    123  yellow      12.0
5      103      NaN       NaN    214   green       9.0
6      104      NaN       NaN    663   green      44.0
7      105      NaN       NaN    331    blue      21.0

In [52]:
#combining dataframe using merge
pd.merge(df2,df3,how='outer',on='customer') # outer merge 
pd.merge(df2,df3,how='inner',on='customer') # inner merge
pd.merge(df2,df3,how='right',on='customer') # left merge

  customer category important  sales_x   color  distance  sales_y
0      101     car2       yes    123.0  yellow        12      123
1      103     car1       yes    214.0   green         9      214
2      104     car3       yes    663.0   green        44      663
3      105      NaN       NaN      NaN    blue        21      331